@font-face {
  font-family: VisbyLight;
  src: url(../fonts/VisbyCF-Light_2.woff2);
}
@font-face {
  font-family: VisbyHeavy;
  src: url(../fonts/VisbyCF-Heavy_2.woff2);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
.container-main {
  width: 95%;
  margin: 0 auto;
}

.container-body {
  width: 60%;
  margin: 0 auto;
}

.container-contact {
  width: 80%;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

#header-top .address {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
}
#header-top .address p {
  font-family: VisbyLight;
  font-size: 12px;
  color: #323232;
}
#header-top .socials {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#header-top .socials i {
  transition: all 0.5s;
  cursor: pointer;
}
#header-top .socials i:hover {
  transform: translateY(8px);
}
#header-top .search {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
}
#header-top .search i {
  padding-left: 50px;
  font-size: 19px;
  cursor: pointer;
}
#header-top .appeal {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header-top .appeal a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: VisbyHeavy;
  text-decoration: none;
  font-size: 18px;
  color: #323232;
  width: 178px;
  height: 100%;
  background-color: #f9DD00;
}
#header-top .logo-mobile {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
#header-top .logo-mobile img {
  width: 198px;
  height: 61px;
}
#header-top .contacts-mobile {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#header-top .contacts-mobile i {
  font-size: 26px;
  transition: 0.4s;
  cursor: pointer;
}
#header-top .contacts-mobile i:hover {
  transform: translateY(10px);
}
#header-top .drop-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-top .drop-menu i {
  font-size: 29px;
  cursor: pointer;
}
#header-top .drop-menu .sub-drop-menu {
  transform: translateY(-1000px);
  font-family: VisbyHeavy;
  position: fixed;
  left: 0;
  top: 80px;
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 100vh;
}
#header-top .drop-menu .sub-drop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header-top .drop-menu .sub-drop-menu ul li {
  display: flex;
  justify-content: space-between;
  padding: 18px 15px;
  margin-left: 15px;
  border-bottom: 1px solid rgba(211, 211, 213, 0.2901960784);
}
#header-top .drop-menu .sub-drop-menu ul li a {
  text-decoration: none;
  color: #323232;
  letter-spacing: 1.3px;
  font-family: VisbyLight;
}
#header-top .drop-menu .sub-drop-menu ul li i {
  font-size: 20px;
  padding-right: 50px;
}
#header-top .drop-menu .active-drop {
  display: block;
  animation-name: dropOpen;
  animation-duration: 0.5s;
  transform: translateY(0px);
}
#header-top .drop-menu .passive-drop {
  animation-name: dropClose;
  animation-duration: 1s;
  transform: translateY(-1000px);
}

@keyframes dropOpen {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes dropClose {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
#header-bottom .logo {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-top: 10px;
}
#header-bottom .logo img {
  width: 150px;
  height: 46px;
}
#header-bottom .nav {
  padding-left: 90px;
  position: absolute;
  z-index: 1;
}
#header-bottom .nav ul {
  padding: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
#header-bottom .nav ul li {
  position: relative;
}
#header-bottom .nav ul li a {
  z-index: 1;
  position: relative;
  padding: 13px 0;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-family: VisbyHeavy;
  font-size: 14px;
}
#header-bottom .nav ul li .underline {
  animation-name: underline;
  animation-duration: 0.5s;
  transform-origin: center;
  display: none;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #f9DD00;
}
#header-bottom .nav ul li .submenu {
  z-index: 1;
  display: none;
  position: absolute;
  margin-top: 10px;
}
#header-bottom .nav ul li .submenu ul {
  width: 210px;
  height: 100%;
  background-color: white;
  flex-direction: column;
}
#header-bottom .nav ul li .submenu ul li a {
  text-align: left;
  font-family: Roboto;
  color: black;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  font-size: 15px;
  padding: 13px 20px;
}
#header-bottom .nav ul li .submenu ul li a:hover {
  border: none;
}
#header-bottom .nav ul li:hover .underline {
  display: block;
}
#header-bottom .nav ul li:hover .submenu {
  display: block;
}
#header-bottom .swiper {
  z-index: 0;
  position: relative;
}
#header-bottom .swiper .swiper-wrapper {
  cursor: grab;
}
#header-bottom .swiper {
  width: 100%;
}
#header-bottom .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes underline {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
.search-area {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.search-area .search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 15%;
  background-color: white;
  transition: 0.3s linear 0.3s;
}
.search-area .search-input input {
  position: relative;
  border-color: #FFCD05;
  border-width: 0 0 2px;
  border-radius: 0;
  font-family: VisbyLight;
  text-align: center;
  outline: none;
  width: 100%;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -1.5px;
}
.search-area .search-input i {
  position: absolute;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.active {
  display: block;
  opacity: 1;
  z-index: 2;
  animation-name: search;
  animation-duration: 0.5s;
}

.passive {
  animation-name: searchClose;
  animation-duration: 0.5s;
}

@keyframes search {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes searchClose {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}
#fields {
  padding-top: 100px;
}
#fields .content h1 {
  display: flex;
  flex-direction: column;
  font-family: VisbyHeavy;
  color: #4A4A4A;
  font-size: 50px;
}
#fields .content h1 span {
  font-family: VisbyLight;
  font-size: 38px;
}
#fields .content img {
  padding: 30px 0;
}
#fields .content p {
  font-family: VisbyLight;
  width: 100%;
}
#fields .subjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#fields .subjects .item {
  width: 284px;
  transition: all 0.5s;
  height: 199px;
  padding: 12px 20px;
  border: 1px solid rgba(211, 211, 213, 0.2901960784);
  cursor: pointer;
}
#fields .subjects .item h4 {
  color: #4A4A4A;
  font-family: VisbyHeavy;
  font-size: 21px;
  margin-top: 70px;
}
#fields .subjects .item:nth-child(1):hover {
  transform: scale(1.1);
  background-color: #872891;
}
#fields .subjects .item:nth-child(1):hover img {
  filter: invert(100%);
}
#fields .subjects .item:nth-child(1):hover h4 {
  color: white;
}
#fields .subjects .item:nth-child(2):hover {
  transform: scale(1.1);
  background-color: #ffcd05;
}
#fields .subjects .item:nth-child(2):hover img {
  filter: invert(100%);
}
#fields .subjects .item:nth-child(2):hover h4 {
  color: white;
}
#fields .subjects .item:nth-child(3):hover {
  transform: scale(1.1);
  background-color: #00b45a;
}
#fields .subjects .item:nth-child(3):hover img {
  filter: invert(100%);
}
#fields .subjects .item:nth-child(3):hover h4 {
  color: white;
}
#fields .subjects .item:nth-child(4):hover {
  transform: scale(1.1);
  background-color: #2382c8;
}
#fields .subjects .item:nth-child(4):hover img {
  filter: invert(100%);
}
#fields .subjects .item:nth-child(4):hover h4 {
  color: white;
}

#about {
  padding-top: 100px;
}
#about .content h1 {
  display: flex;
  flex-direction: column;
  font-family: VisbyLight;
  color: #4A4A4A;
  font-size: 50px;
  line-height: 45px;
}
#about .content h1 span {
  font-family: VisbyHeavy;
}
#about .content img {
  padding: 30px 0;
}
#about .content p {
  width: 570px;
  font-family: VisbyLight;
}

#blogs {
  padding-top: 100px;
  padding-bottom: 150px;
}
#blogs .content {
  display: flex;
  gap: 50px;
}
#blogs .content .left-side img {
  width: 208px;
  height: 208px;
  cursor: pointer;
}
#blogs .content .right-side h4 {
  width: 100%;
  font-family: VisbyHeavy;
  font-size: 21px;
  cursor: pointer;
}
#blogs .content .right-side p {
  width: 100%;
  font-family: VisbyLight;
  font-size: 16px;
  color: #323232;
  padding-bottom: 15px;
}
#blogs .content .right-side a {
  text-decoration: none;
  font-family: VisbyHeavy;
  color: #4A4A4A;
  font-size: 14px;
  margin-top: 15px;
}

#report {
  width: 100%;
  height: 100%;
  background-image: url(../images/code-academy-bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#report .content {
  padding: 50px;
}
#report .content h4 {
  padding: 50px;
  font-size: 21px;
  color: white;
  font-family: VisbyHeavy;
  text-align: center;
}
#report .content .datas {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#report .content .datas .item {
  width: 100%;
  height: 100%;
  padding: 10px;
}
#report .content .datas .item h2 {
  font-family: VisbyHeavy;
  font-size: 70px;
  text-align: center;
  color: white;
}
#report .content .datas .item p {
  font-size: 35px;
  color: white;
  font-family: VisbyLight;
  width: 100%;
  height: 90px;
  text-align: center;
  line-height: 40px;
}

#feedbacks {
  padding-top: 100px;
}
#feedbacks h1 {
  font-family: VisbyLight;
  color: #4A4A4A;
  font-size: 50px;
  width: 100%;
  text-align: center;
}
#feedbacks h1 span {
  font-family: VisbyHeavy;
}
#feedbacks .swiper-slide {
  cursor: grab;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#feedbacks .swiper-slide p {
  text-align: center;
  font-family: VisbyLight;
  font-style: italic;
  width: 100%;
  font-size: 19px;
}
#feedbacks .swiper-slide .graduate {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}
#feedbacks .swiper-slide .graduate img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
#feedbacks .swiper-slide .graduate .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#feedbacks .swiper-slide .graduate .about h6 {
  font-size: 21px;
  font-family: VisbyHeavy;
  color: #4A4A4A;
}
#feedbacks .swiper-slide .graduate .about span {
  font-family: VisbyLight;
  font-size: 14px;
  color: #8f8f8f;
}

#partners {
  padding-top: 100px;
}
#partners .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#partners .content h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: VisbyLight;
  line-height: 35px;
  color: #4A4A4A;
}
#partners .content h1 span {
  font-family: VisbyHeavy;
}
#partners .content p {
  width: 100%;
  font-family: VisbyLight;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 500px;
}
#partners .content img {
  padding-bottom: 15px;
}
#partners .content .partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
#partners .content .partner-logos .image {
  display: flex;
  justify-content: center;
  width: 100%;
}
#partners .content .partner-logos .image img {
  padding: 30px;
  width: 190px;
  height: 127px;
  -o-object-fit: contain;
     object-fit: contain;
}

#our-graduates {
  padding-top: 100px;
}
#our-graduates .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-graduates .header h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: VisbyHeavy;
  line-height: 45px;
  color: #4A4A4A;
}
#our-graduates .header h1 span {
  font-family: VisbyLight;
}
#our-graduates .header .line {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 130px;
  height: 4px;
  background-color: #FFCD05;
}
#our-graduates .content {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#our-graduates .content .item {
  cursor: pointer;
  width: 150px;
  height: 150px;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
}
#our-graduates .content .item img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#our-graduates .content .item:hover {
  transform: rotateX(360deg);
}
#our-graduates .content .item:hover .flipped {
  display: block;
}
#our-graduates .content .item:nth-child(1):hover .flipped {
  background-color: rgba(0, 180, 90, 0.8);
}
#our-graduates .content .item:nth-child(2):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(3):hover .flipped {
  background-color: rgba(0, 180, 90, 0.8);
}
#our-graduates .content .item:nth-child(4):hover .flipped {
  background-color: rgba(135, 40, 145, 0.8);
}
#our-graduates .content .item:nth-child(5):hover .flipped {
  background-color: rgba(135, 40, 145, 0.8);
}
#our-graduates .content .item:nth-child(6):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(7):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(8):hover .flipped {
  background-color: rgba(135, 40, 145, 0.8);
}
#our-graduates .content .item:nth-child(9):hover .flipped {
  background-color: rgba(135, 40, 145, 0.8);
}
#our-graduates .content .item:nth-child(10):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(11):hover .flipped {
  background-color: rgba(0, 180, 90, 0.8);
}
#our-graduates .content .item:nth-child(12):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(13):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(14):hover .flipped {
  background-color: rgba(35, 130, 200, 0.8);
}
#our-graduates .content .item:nth-child(15):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(16):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(17):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(18):hover .flipped {
  background-color: rgba(255, 205, 5, 0.8);
}
#our-graduates .content .item:nth-child(19):hover .flipped {
  background-color: rgba(35, 130, 200, 0.8);
}
#our-graduates .content .item:nth-child(20):hover .flipped {
  background-color: rgba(0, 180, 90, 0.8);
}
#our-graduates .content .item:nth-child(21):hover .flipped {
  background-color: rgba(0, 180, 90, 0.8);
}
#our-graduates .content .item .flipped {
  display: none;
  padding: 15px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}
#our-graduates .content .item .flipped h6 {
  font-size: 21px;
  color: white;
  font-family: VisbyHeavy;
  margin-bottom: 5px;
}
#our-graduates .content .item .flipped p {
  font-size: 12px;
  color: white;
  font-family: VisbyLight;
}
#our-graduates .content .item .flipped i {
  color: white;
  font-size: 12px;
}

#contact-us {
  margin-top: 100px;
  width: 100%;
  padding: 100px 200px;
  background-color: #f4f5f8;
}
#contact-us .content {
  width: 100%;
}
#contact-us .content h1, #contact-us .content h2 {
  padding: 0;
  margin: 0;
  font-size: 50px;
  color: #4A4A4A;
  font-family: VisbyLight;
}
#contact-us .content h2 {
  padding-left: 50px;
  font-family: VisbyHeavy;
}
#contact-us .content p {
  padding-top: 20px;
  font-size: 15px;
  font-family: VisbyLight;
}
#contact-us .inputs input {
  width: 100%;
  font-family: VisbyLight;
  font-size: 18px;
  min-height: 59px;
  padding: 7px 20px;
  border: none;
  border-radius: 0;
}
#contact-us .inputs input:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: none;
}
#contact-us .inputs select {
  min-height: 59px;
  padding: 7px 20px;
  border-radius: 0;
  border: none;
}
#contact-us .inputs select:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: none;
}
#contact-us .inputs button {
  width: 100%;
  background-color: #fcba00;
  padding: 12px 24px;
  font-family: VisbyHeavy;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  border: none;
}

@media (max-width: 998px) {
  .container-main {
    width: 100%;
    margin: 0 auto;
  }
  .container-body {
    width: 95%;
    margin: 0 auto;
  }
  #header-top {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 3;
  }
  #header-bottom {
    padding-top: 80px;
  }
  #header-bottom .swiper .swiper-slide img {
    width: 100%;
    height: 416px;
  }
  #about .content p {
    width: 100%;
  }
  #fields .subjects {
    margin-top: 20px;
  }
  #fields .subjects .item {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(211, 211, 213, 0.2901960784);
    border-bottom: 1px solid rgba(211, 211, 213, 0.2901960784);
  }
  #partners .content p {
    width: 100%;
  }
  #report .content {
    padding: 0;
  }
  #report .content h4 {
    width: 100%;
    padding: 0;
    padding: 50px 0px;
  }
  #contact-us {
    padding: 40px 20px;
  }
  #contact-us .content h1, #contact-us .content h2 {
    font-size: 30px;
    padding: 0;
  }
  #contact-us .content p {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .container-body {
    width: 90%;
  }
  #contact-us {
    padding: 100px 200px;
  }
  #contact-us .content h1, #contact-us .content h2 {
    padding: 0;
  }
  #contact-us .content h2 {
    padding-left: 30px;
  }
  #contact-us .content p {
    display: block;
  }
  #contact-us .inputs select {
    padding: 7px 10px;
  }
}/*# sourceMappingURL=style.css.map */