@font-face {
    font-family: VisbyLight;
    src: url(../fonts/VisbyCF-Light_2.woff2);
}

@font-face {
    font-family: VisbyHeavy;
    src: url(../fonts/VisbyCF-Heavy_2.woff2);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}


.container-main{
    width: 95%;
    margin: 0 auto;
}

.container-body{
    width: 60%;
    margin: 0 auto;
}

.container-contact{
    width: 80%;
    margin: 0 auto;
}

p{
    margin: 0;
    padding: 0;
}

#header-top{
    .address{
        width: 100%;
        height: 58px;
        display: flex;
        align-items: center;
        p{
            font-family: VisbyLight;
            font-size: 12px;
            color: #323232;
        }
    }
    .socials{
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        i{
            transition: all 0.5s;
            cursor: pointer;
            &:hover{
                transform: translateY(8px);
            }
        }
    }
    .search{
        width: 100%;
        height: 58px;
        display: flex;
        align-items: center;
        i{
            padding-left: 50px;
            font-size: 19px;
            cursor: pointer;
        }
    }

    .appeal{
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: VisbyHeavy;
            text-decoration: none;
            font-size: 18px;
            color: #323232;
            width: 178px;
            height: 100%;
            background-color: #f9DD00;
        }
    }

    .logo-mobile{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        img{
            width: 198px;
            height: 61px;
            
        }
    }

    .contacts-mobile{
        width: 100%;
        height: 100%;
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        i{
            font-size: 26px;
            transition: 0.4s;
            cursor: pointer;
            &:hover{
                transform: translateY(10px);
            }
        }
    }

    .drop-menu{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 29px;
            cursor: pointer;
        }
        .sub-drop-menu{
            transform: translateY(-1000px);
            font-family: VisbyHeavy;
            position: fixed;
            left: 0;
            top: 80px;
            z-index: -1;
            background-color: white;
            width: 100%;
            height: 100vh;
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    display: flex;
                    justify-content: space-between;
                    padding: 18px 15px;
                    margin-left: 15px;
                    border-bottom: 1px solid #d3d3d54a;
                    a{
                       text-decoration: none;
                       color: #323232;
                       letter-spacing: 1.3px;
                       font-family: VisbyLight;
                    }
                    i{
                        font-size: 20px;
                        padding-right: 50px;
                    }
                }
            }
        }
        .active-drop{
            display: block;
            animation-name: dropOpen;
            animation-duration: 0.5s;
            transform: translateY(0px);
        }
        
        .passive-drop{
            animation-name: dropClose;
            animation-duration: 1s;
            transform: translateY(-1000px);
        }
    
    }
}


@keyframes dropOpen {
    from{
        transform: translateY(-1000px)
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes dropClose{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-1000px);
    }
}


#header-bottom{
    .logo{
        position: absolute;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        padding-top: 10px;
        img{
            width: 150px;
            height: 46px;
        }
    }
    .nav{
        padding-left: 90px;
        position: absolute;
        z-index: 1;
        ul{
            padding: 0;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            li{
                position: relative;
                a{
                    z-index: 1;
                    position: relative;
                    padding: 13px 0;
                    margin: 0 15px;
                    text-decoration: none;
                    color: white;
                    font-family: VisbyHeavy;
                    font-size: 14px
                }
                .underline{
                    animation-name: underline;
                    animation-duration: 0.5s;
                    transform-origin: center;
                    display: none;
                    position: absolute;
                    bottom: -10px;
                    width: 100%;
                    height: 3px;
                    background-color: #f9DD00;
                }
                .submenu{
                    z-index: 1;
                    display: none;
                    position: absolute;
                    margin-top: 10px;
                    ul{
                        width: 210px;
                        height: 100%;
                        background-color: white;
                        flex-direction: column;
                        li{
                            a{
                                text-align: left;
                                font-family: Roboto;
                                color: black;
                                display: flex;
                                justify-content: flex-start;
                                margin: 0;
                                font-size: 15px;
                                padding: 13px 20px;
                                &:hover{
                                    border: none;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    .underline{
                        display: block;
                    }
                    .submenu{
                        display: block;
                    }
                }
            }
        }
    }
    .swiper{
        z-index: 0;
        position: relative;
        .swiper-wrapper{
            cursor: grab;
        }
    }


    .swiper {
        width: 100%;
        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
          }
      }
}


@keyframes underline{
    from{
        transform: scale(0,0);
    }
    to{
        transform: scale(1,1);
    }
}



.search-area{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
    .search-input{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0 15%;
        background-color: white;
        transition: .3s linear .3s;
        input{
            position: relative;
            border-color: #FFCD05;
            border-width: 0 0 2px;
            border-radius: 0;
            font-family: VisbyLight;
            text-align: center;
            outline: none;
            width: 100%;
            font-size: 60px;
            font-weight: 300;
            line-height: 60px;
            letter-spacing: -1.5px;
        }
        i{
            position: absolute;
            right: 20px;
            font-size: 25px;
            cursor: pointer;
        }
    }
}

.active{
    display: block;
    opacity: 1;
    z-index: 2;
    animation-name: search;
    animation-duration: 0.5s;
}

.passive{
    animation-name: searchClose;
    animation-duration: 0.5s;
}

@keyframes search {
    from{
        transform: scale(0,0);
    }
    to{
        transform: scale(1,1);
    }
}

@keyframes searchClose{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(0,0);
    }
}






#fields{
    padding-top: 100px;
    .content{
        h1{
            display: flex;
            flex-direction: column;
            font-family: VisbyHeavy;
            color: #4A4A4A;
            font-size: 50px;
            span{
                font-family: VisbyLight;
                font-size: 38px;
            }
        }
        img{
            padding: 30px 0;
        }
        p{
            font-family: VisbyLight;
            width: 100%;
        }
    }

    .subjects{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .item{
            width: 284px;
            transition: all 0.5s;
            height: 199px;
            padding: 12px 20px;
            border: 1px solid #d3d3d54a;
            cursor: pointer;
            h4{
                color: #4A4A4A;
                font-family: VisbyHeavy;
                font-size: 21px;
                margin-top: 70px;
            }

            &:nth-child(1):hover{
                transform: scale(1.1);
                background-color: #872891;
                img{
                    filter: invert(100%);
                }
                h4{
                    color: white;
                }
            }
            &:nth-child(2):hover{
                transform: scale(1.1);
                background-color: #ffcd05;
                img{
                    filter: invert(100%);
                }
                h4{
                    color: white;
                }
            }
            &:nth-child(3):hover{
                transform: scale(1.1);
                background-color: #00b45a;
                img{
                    filter: invert(100%);
                }
                h4{
                    color: white;
                }
            }
            &:nth-child(4):hover{
                transform: scale(1.1);
                background-color: #2382c8;
                img{
                    filter: invert(100%);
                }
                h4{
                    color: white;
                }
            }
        }
    }
}


#about{
    padding-top: 100px;
    .content{
        h1{
            display: flex;
            flex-direction: column;
            font-family: VisbyLight;
            color: #4A4A4A;
            font-size: 50px;
            line-height: 45px;
            span{
                font-family: VisbyHeavy;
            }
        }
        img{
            padding: 30px 0;
        }
        p{
            width: 570px;
            font-family: VisbyLight;

        }
    }
}

#blogs{
    padding-top: 100px;
    padding-bottom: 150px;
    .content{
        display: flex;
        gap: 50px;
        .left-side{
            img{
                width: 208px;
                height: 208px;
                cursor: pointer;
            }
        }
        .right-side{
            h4{
                width: 100%;
                font-family: VisbyHeavy;
                font-size: 21px;
                cursor: pointer;
            }
            p{
                width: 100%;
                font-family: VisbyLight;
                font-size: 16px;
                color: #323232;
                padding-bottom: 15px;
            }
            a{
                text-decoration: none;
                font-family: VisbyHeavy;
                color: #4A4A4A;
                font-size: 14px;
                margin-top: 15px;
            }
        }
    }
}


#report{
    width: 100%;
    height: 100%;
    background-image: url(../images/code-academy-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .content{
        padding: 50px;
        h4{
            padding: 50px;
            font-size: 21px;
            color: white;
            font-family: VisbyHeavy;
            text-align: center;
        }
        .datas{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .item{
                width: 100%;
                height: 100%;
                padding: 10px;
                h2{
                    font-family: VisbyHeavy;
                    font-size: 70px;
                    text-align: center;
                    color: white;
                }
                p{
                    font-size: 35px;
                    color: white;
                    font-family: VisbyLight;
                    width: 100%;
                    height: 90px;
                    text-align: center;
                    line-height: 40px;
                }
            }
        }
    }
}

#feedbacks{
    padding-top: 100px;
    h1{
        font-family: VisbyLight;
        color: #4A4A4A;
        font-size: 50px;
        width: 100%;
        text-align: center;
        span{
            font-family: VisbyHeavy;
        }     
    }

    .swiper-slide{
        cursor: grab;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            text-align:center;
            font-family: VisbyLight;
            font-style: italic;
            width: 100%;
            font-size: 19px;
        }
        .graduate{
            margin-top: 25px;
            display: flex;
            gap: 20px;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                object-fit: cover;
            }
            .about{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h6{
                    font-size: 21px;
                    font-family: VisbyHeavy;
                    color: #4A4A4A;
                }
                span{
                    font-family: VisbyLight;
                    font-size: 14px;
                    color: #8f8f8f;
                }
            }
        }
    }
}


#partners{
    padding-top: 100px;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            width: 100%;
            text-align: center;
            font-size: 50px;
            font-family: VisbyLight;
            line-height: 35px;
            color: #4A4A4A;
            span{
                font-family: VisbyHeavy;
            }
        }
        p{
            width: 100%;
            font-family: VisbyLight;
            font-size: 15px;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            width: 500px;
        }
        img{
            padding-bottom: 15px;
        }

        .partner-logos{
            display: flex;
            justify-content: center;
            align-items: center;
            .image{
                display: flex;
                justify-content: center;
                width: 100%;
                img{
                    padding: 30px;
                    width: 190px;
                    height: 127px;
                    object-fit: contain;
                }
            }
        }
    }
}


#our-graduates{
    padding-top: 100px;
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            width: 100%;
            text-align: center;
            font-size: 50px;
            font-family: VisbyHeavy;
            line-height: 45px;
            color: #4A4A4A;
            span{
                font-family: VisbyLight;
            }
        }   
        .line{
            margin-top: 15px;
            margin-bottom: 30px;
            width: 130px;
            height: 4px;
            background-color: #FFCD05;
        }
    }

    .content{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        .item{
            cursor: pointer;
            width: 150px;
            height: 150px;
            transition: all 1s ease-in-out;
            transform-style: preserve-3d;
            position: relative;
            img{
                overflow: hidden;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            &:hover{
                transform: rotateX(360deg);
                .flipped{
                    display: block;
                }
            }
            &:nth-child(1):hover{
                .flipped{
                    background-color: #00b45aCC;
                }
            }
            &:nth-child(2):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(3):hover{
                .flipped{
                    background-color: #00b45aCC;
                }
            }
            &:nth-child(4):hover{
                .flipped{
                    background-color: #872891CC;
                }
            }
            &:nth-child(5):hover{
                .flipped{
                    background-color: #872891CC;
                }
            }
            &:nth-child(6):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(7):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(8):hover{
                .flipped{
                    background-color: #872891CC;
                }
            }
            &:nth-child(9):hover{
                .flipped{
                    background-color: #872891CC;
                }
            }
            &:nth-child(10):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(11):hover{
                .flipped{
                    background-color: #00b45aCC;
                }
            }
            &:nth-child(12):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(13):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(14):hover{
                .flipped{
                    background-color: #2382c8CC;
                }
            }
            &:nth-child(15):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(16):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(17):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(18):hover{
                .flipped{
                    background-color: #ffcd05CC;
                }
            }
            &:nth-child(19):hover{
                .flipped{
                    background-color: #2382c8CC;
                }
            }
            &:nth-child(20):hover{
                .flipped{
                    background-color: #00b45aCC;
                }
            }
            &:nth-child(21):hover{
                .flipped{
                    background-color: #00b45aCC;
                }
            }
            .flipped{
                display: none;
                padding: 15px;
                width: 100%;
                height: 100%;
                opacity: 0.9;
                position: absolute;
                top: 0;
                left: 0;
                h6{
                    font-size: 21px;
                    color: white;
                    font-family: VisbyHeavy;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 12px;
                    color: white;
                    font-family: VisbyLight;
                }
                i{
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
}

#contact-us{
    margin-top: 100px;
    width: 100%;
    padding: 100px 200px;
    background-color: #f4f5f8;
    .content{
        width: 100%;
        h1,h2{
            padding: 0;
            margin: 0;
            font-size: 50px;
            color: #4A4A4A;
            font-family: VisbyLight;
        }
        h2{
            padding-left: 50px;
            font-family: VisbyHeavy;
        }
        p{
            padding-top: 20px;
            font-size: 15px;
            font-family: VisbyLight;
        }
    }

    .inputs{
        input{
            width: 100%;
            font-family: VisbyLight;
            font-size: 18px;
            min-height: 59px;
            padding: 7px 20px;
            border: none;
            border-radius: 0;
            &:focus{
                box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
                border: none;
            }
        }
        select{
            min-height: 59px;
            padding: 7px 20px;
            border-radius: 0;
            border: none;
            &:focus{
                box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
                border: none;
            }
        }
        button{
            width: 100%;
            background-color: #fcba00;
            padding: 12px 24px;
            font-family: VisbyHeavy;
            font-size: 18px;
            color: white;
            margin-top: 10px;
            border: none;
        }
    }
}
@media (max-width: 998px) {
    .container-main{
        width: 100%;
        margin: 0 auto;
    }
    .container-body{
        width: 95%;
        margin: 0 auto;
    }

    #header-top{
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 3;
    }
    #header-bottom{
        padding-top: 80px;
        .swiper{
            .swiper-slide{
                img{
                    width: 100%;
                    height: 416px;
                }
            }
        }
    }

    #about{
        .content{
            p{
                width: 100%;
            }
        }
    }

    #fields{
        .subjects{
            margin-top: 20px;
            .item{
                width: 100%;
                border: none;
                border-top: 1px solid #d3d3d54a;
                border-bottom: 1px solid #d3d3d54a;
            }
        }
    }

    #partners{
        .content{
            p{
                width: 100%;
            }
        }
    }
    #report{
        .content{
            padding: 0;
            h4{
                width: 100%;
                padding: 0;
                padding: 50px 0px;  
            }
        }
    }

    #contact-us{
        padding: 40px 20px;
        .content{
            h1,h2{
                font-size: 30px;
                padding: 0;
            }
            p{
                display: none;
            }
        }
    }
}



@media (min-width:1024px) and (max-width: 1440px) {
    .container-body{
        width: 90%;
    }
    #contact-us{
        padding: 100px 200px;
        .content{
            h1,h2{
                padding: 0;
            }
            h2{
                padding-left: 30px;
            }
            p{
                display: block;
            }
        }
        .inputs{
            select{
                padding: 7px 10px;
            }
        }
    }
}